:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 999;
}

/* Navbar (How to make it sticky on top?)*/

.nav {
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
}

.nav__menu-bar {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
}

.nav__menu-bar div{
  width: 40px;
  height: 4px;
  background-color: black;
  border-radius: 2px;
}

.nav__menu-list {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 60px;
  width: 288px;
  row-gap: 24px;
  padding: 24px 16px;
  right: -288px;
  min-height: cal(100vh - 60px);
  background-color: #eee;
  transition: all 0.3s;
}

.nav__menu-list.active {
  right: 0;
}

.nav__link {
  font-size: 18px;
  position: relative;
  transition: all 0.2s;
}

.nav__link.active {
  font-weight: bold;
}

.nav__link:hover{
  font-weight: bold;
}

.center {
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .nav__menu-bar {
    display: none;
  }
  .nav__menu-list {
    position: unset;
    min-height: fit-content;
    width: fit-content;
    flex-direction: row;
    column-gap: 24px;
    align-items: center;
  }
  .nav__link {
    font-size: 18px;
    position: relative;
  }
  
  .nav__link::before {
    content: '';
    position: absolute;
    width: 0%;
    bottom: -16px;
    left: 0;
    height: 6px;
    transition: all 0.2s;
    background-color: black;
  }
  
  .nav__link:hover::before,
  .nav__link.active::before {
    width: 100%;
  }
}

/* Animation */
.page-top-animation-container {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: fit-content;
  justify-content: center;
}