/* Layout for the entire page */
.root {
  display: block;
  width: 100%;
}

.page-content {
  flex-direction: column;
  overflow: auto;
  width: 100%;
}

.page-content a {
  color: $my-color-blue;
  text-decoration: none;
}

.page-content a:hover {
  color: black;
  text-decoration: underline;
}

.post-title {
  text-align: center;
  font-weight: bold;
}

/* Index */
.index-wrapper {
  width: 100%;
}

#home-pane {
  padding: 30px 20% 30px 20%;
  width: 100%;
  background-color: white;
}

.home-section {
  padding-bottom: 10px;
}


/* Animation */
.animation-container {
  position: relative;
  width: 100%;
  height: 35vh;
  min-height: 300px;
  max-height: 500px;
  display: flex;
  justify-content: center;
  overflow-y: hidden;
}

.spinner-container {
  position: absolute;
  top: 0;
  width: 50vw;
  max-width: 800px;
  height: 100%;
}

.runner-container {
  width: 100%;
  display: inline-block;
  position: absolute;
  left: 0;
  overflow-x: hidden;
  white-space: nowrap;
}


/* Blogs - layout for blog index Page */
.blogs-index-wrapper {
  display: flex;
  flex-direction: column;
  min-width: fit-content;
}

#blogs-pane {
  padding: 30px 20% 30px 20%;
  background-color: white;
}

.blog-item {
  display: column;
  padding: 5px 5px 5px 5px;
}

.blog-item:hover {
  background-color: rgb(215, 235, 255);
}

.blog-item-title h3 {
  display: inline;
}

.blog-tag {
  display: inline;
  float: right;
  font-size: 0.7em;
  background-color: $my-color-green;
  width: fit-content;
  height: auto;
  text-align: center;
  padding: 1px 8px 1px 8px;
  margin-left: 4px;
  border-radius: 12px;
  white-space: nowrap;
}

.blog-item-description {
  font-size: 1em;
  padding-top: 5px;
}

.blog-item-date{
  padding-top: 5px;
  color: gray;
}

/* Blogs - Layout for blog content page */
.two-column-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.main-text {
  width: 70%;
  height: 100%;
  overflow: auto;
}

.blog-header {
  width: 100%;
  background-color: $grey-color-light;
}

.blog-header div {
  padding: 30px 30px 4px 30px;
}

.blog-content {
  padding: 30px;
}

#toc-sidebar {
  width: 30%;
  height: 100%;
  overflow: auto;
  background-color: $grey-color-dark;
  padding: 30px;
}

#toc-list {
  margin: 0;
  padding: 0;
}

#toc-sidebar {
  color: white;
}

#toc-sidebar a {
  color: white;
  text-decoration: none;
  display: block;
}

#toc-sidebar a:hover {
  text-decoration: underline;
  color: $my-color-cyan;
}

#toc-sidebar ul {
  list-style-type: square;
  font-size: 16px;
}

#toc-sidebar li {
  margin-bottom: 5px;
}


/* Projects - project content page */
.project-content {
  padding: 30px 20% 30px 20%;
  width: 100%;
}

/* Projects - project index page */
.project-index-wrapper {
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  overflow-y: auto;
}

#project-pane {
  padding: 30px 20% 30px 20%;
  background-color: white;
}

.project-row {
  padding: 10px 30px 10px 30px;
  margin-bottom: 10px;
  min-height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-row:hover {
  background-color: rgb(215, 235, 255);
}

.project-row-content {
  width: 100%;
  display: flex;
  align-items: center;
}

.project-row-content img {
  display: inline-block;
  width: 50%;
  height: auto;
}

.project-row-content p{
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.project-headline-box {
  display: inline-block;
  width: 50%;
  padding-left: 30px;
}

.project-headline-box p {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.project-headline-box h3 {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.project-tag {
  display: inline;
  font-size: 0.7em;
  background-color: $my-color-orange;
  width: fit-content;
  height: auto;
  text-align: center;
  padding: 1px 8px 1px 8px;
  margin-right: 4px;
  border-radius: 12px;
  white-space: nowrap;
}

/* Index page */
.index-intro {
  padding-top: 20px;
  padding-bottom: 20px;
}



/* Header */

.sticky-header {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 998;
  background-color: #f1f1f1;
}

.nav {
  display: flex;
  padding: 0px 4px 0px 16px;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  color: black;
}

.nav__menu-bar {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
}

.nav__menu-bar div{
  width: 40px;
  height: 4px;
  background-color: black;
  border-radius: 2px;
}

.nav__menu-list {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 48px;
  width: 288px;
  row-gap: 24px;
  padding: 16px 16px;
  right: -288px;
  min-height: fit-content;
  background-color: #f1f1f1;
  transition: all 0.3s;
}

.nav__menu-list.active {
  right: 0;
}

.nav__link {
  font-size: 18px;
  position: relative;
  transition: all 0.2s;
}

.nav__link.active {
  font-weight: bold;
}

.nav__link:hover{
  font-weight: bold;
}

.center {
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .nav__menu-bar {
    display: none;
  }
  .nav__menu-list {
    position: unset;
    min-height: fit-content;
    width: fit-content;
    flex-direction: row;
    column-gap: 24px;
    align-items: center;
  }
  .nav__link {
    font-size: 18px;
    position: relative;
  }
  
  .nav__link::before {
    content: '';
    position: absolute;
    width: 0%;
    bottom: -12px;
    left: 0;
    height: 6px;
    transition: all 0.2s;
    background-color: black;
  }
  
  .nav__link:hover::before,
  .nav__link.active::before {
    width: 100%;
  }

  .project-row-content {
    flex-direction: column;
  }

  .project-row-content img {
    width: 100%;
  }

  .project-headline-box {
    width: 100%;
    padding-left: 0;
  }
}


/* Header: github corner */
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0);
  }
  20%, 60% {
    transform: rotate(-25deg);
  }
  40%, 80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}



/* Footer */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;
  background-color: #f1f1f1;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: calc($spacing-unit / 2);
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  padding-left: - calc($spacing-unit / 2);
  @extend %clearfix;
}

.footer-col-wrapper svg {
  height: 1em;
  vertical-align: middle;
}

.footer-col-wrapper path {
  fill: gray;
}

.footer-col {
  float: left;
  // margin-bottom: calc($spacing-unit / 2);
  padding-left: calc($spacing-unit / 2);
}

.footer-col-1 {
  width: -webkit-calc(30% - (#{$spacing-unit} / 2));
  width:         calc(30% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(40% - (#{$spacing-unit} / 2));
  width:         calc(40% - (#{$spacing-unit} / 2));
  text-align: center;
}

.footer-col-3 {
  width: -webkit-calc(30% - (#{$spacing-unit} / 2));
  width:         calc(30% - (#{$spacing-unit} / 2));
  text-align: center;
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}
